@font-face {
    font-family: PoppinsRegular;
    src: url("../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: PoppinsBold;
    src: url("../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: PoppinsExtraBoldItalic;
    src: url("../assets/fonts/Poppins-ExtraBoldItalic.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 86%);
}

main{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 70vh;
    width: 50vw;
    border-radius: 25px 25px 100px 25px;
}

header{
    position: relative;
    width: 100%;
    height: 22vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-inputArea{
    display: flex;
    gap: 2em;
    padding-right: 6vw;
}

.input{
    display: flex;
    flex-direction: column;
}

.input input,
.input input:valid{
    outline: none;
    width: 10vw;
    height: 4em;
    border-radius: 10px;
    border: 1px solid hsl(0, 1%, 74%);
    padding-left: 10px;
    color: #000;
    font-weight: bold;
    caret-color: hsl(259, 100%, 65%);
}

.input input:focus{
    border: 1px solid hsl(259, 100%, 65%);
}

.input input:invalid{
    border: 1px solid hsl(0, 100%, 67%);
}

input::placeholder{
    font-family: PoppinsBold;
    font-size: 1.3em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label{
    color: #000;
    text-transform: uppercase;
    font-family: PoppinsBold;
    font-size: .8em;
    letter-spacing: 2px;
}

.arrowSVG{
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    width: 4em;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 3em;
    top: calc(22vh - 2em);
    z-index: 10;
    cursor: pointer;
}

.arrowSVG:hover{
    background-color: #000;
}

.arrowSVG::before{
    content: "";
    pointer-events: none;
    position: absolute;
    width: 37.5vw;
    height: 2px;
    background-color: hsl(0, 0%, 86%);
    left: -37.5vw;
    top: 50%;
    z-index: 1;
}

.arrowSVG::after{
    display: none;
    content: "";
    pointer-events: none;
    position: absolute;
    width: calc(45vw - 4vw);
    height: 2px;
    background-color: hsl(0, 0%, 86%);
    left: 20vw;
    top: 50%;
    z-index: 1;
}


.arrowSVG img{
    width: 2em;
    aspect-ratio: 1;
}

.main-content{
    padding-left: 4vw;
    font-family: PoppinsExtraBoldItalic;
}

.main-content h1{
    color: #000;
}

.main-content span{
    color: hsl(259, 100%, 65%);

}

.date {
    margin-top: 1em;
}

.date h1{
    font-size: 5vw;
}

@media screen and (max-width: 415px){
    main{
        width: 90vw;
    }

    .header-inputArea{
        gap: 1em;
        padding-right: 0;
    }

    .input input,
    .input input:valid{
        width: 6em;
    }

    label{
        font-size: .8em;
    }

    .arrowSVG{
        left: 50%;
        transform: translateX(-50%);
        top: 20vh;
        z-index: 10;
        width: 20vw;
        position: absolute;
    }

    .arrowSVG::before{
        position: absolute;
        width: calc(45vw - 7.5vw);
        height: 2px;
        background-color: hsl(0, 0%, 86%);
        left: -37.5vw;
        top: 50%;
        z-index: 0;
    }

    .arrowSVG::after{
        display: block;
    }

    .main-content{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20vw 0 0 0;
        font-family: PoppinsExtraBoldItalic;
    }
    
    .date h1{
        font-size: 8vw;
    }
}

@media screen and (max-width: 768px) and (min-width: 416px){
    main{
        width: 80vw;
    }

    .arrowSVG::before{
        content: "";
        position: absolute;
        width: 62vw;
        height: 2px;
        background-color: hsl(0, 0%, 86%);
        left: -62vw;
        top: 50%;
        z-index: 1;
    }

}